# -[ IGNORE ]-------------------------------------------------------------------
/config.inc.php
/nbproject/
/chats/chats/*
/stats/charts/*
/uploads/*

# -[ !EXCEPT ]------------------------------------------------------------------
!/chats/chats/index.php
!/stats/charts/index.php
!/uploads/index.php
!/uploads/accounts/avatars/index.php
!/uploads/accounts/avatars/avatar.jpg
!/uploads/test/index.php
